.forgotPassForm {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 14vw;
  height: 19vh;
  position: relative;
  color: #464646;
  font-family: system-ui;
  top: 14%;
  left: 19%;
  align-items: center;
}
.forgotPassForm input {
  border: 1px solid #bbbbc2;
  background-color: white;
  height: 4vh;
  padding: 1em;
  font-family: system-ui;
  border-radius: 9px;
  color: #464646;
}
.forgotPassForm button {
  border: 1px solid #bbbbc2;
  background-color: #055ab3;
  padding: 0.5em;
  width: 5vw;
  cursor: pointer;
  font-family: system-ui;
  font-size: 0.8rem;
  margin-top: 1em;
  font-weight: bold;
  border-radius: 9px;
  color: white;
}
.forgotPasswordLabel {
  font-size: 1em;
}
