.cartItem {
  width: 100%;
  height: 40vh;
  /* background-color: lawngreen; */
  display: flex;
  margin: 0.5em;
}
.cartItemImgCont {
  width: 26vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cartItemDetCont {
  width: 29vw;
  height: 100%;
  /* background-color: red; */
  padding: 1em;
}
.cartItemDelButCont {
  width: 40vw;
  height: 100%;
  /* background-color: blue; */
}
.removeButtonCart {
  float: right;
  position: relative;
  border: none;
  font-size: 0.9em;
  background-color: rgb(18 105 197 / 86%);
  box-shadow: rgb(0 0 0 / 47%) 0px 4px 6px -2px;
  font-family: system-ui;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 9px;
  padding: 0.7em;
  top: 38%;
}
.cartItemDetTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 40%;
  align-items: center;
}
.cartItemDetTopSub h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 26vw;
}
.cartItemDetTopSub h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 27vw;
}
.cartItemDetMidlle {
  margin: 2% 0%;
  width: 100%;
  min-height: 29%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.cartItemDetBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cartItemImg {
  border-radius: 9px;
  width: 25.5vw;
  height: 38.7vh;
}
.cartLink {
  display: flex;
  text-decoration: none;
  font-family: system-ui;
  border: 1px solid #cbd0d3;
  box-shadow: rgb(0 0 0 / 47%) 0px 4px 6px -2px;
  border-radius: 9px;
  color: #5c5c5c;
}

@media only screen and (max-width: 1920px) {
  .cartItemDetTopSub h4 {
    width: 26vw;
    font-size: 1.5em;
  }
  .cartItemDetTopSub h1 {
    width: 27vw;
    font-size: 2em;
  }
  .cartItemDetBottom {
    font-size: 1.5em;
    font-weight: bold;
  }
  .removeButtonCart {
    font-size: 1.5em;
    width: 6vw;
    height: 5vh;
    font-weight: normal;
    padding: 0;
    top: 38%;
  }
}

@media only screen and (max-width: 1366px) {
  .cartItem {
    height: 31vh;
  }
  .cartItemImgCont {
    width: 26vw;
  }
  .cartItemImg {
    width: 25.5vw;
    height: 30vh;
  }
  .cartItemDetCont {
    width: 26vw;
  }
  .cartItemDetTopSub h4 {
    font-size: 1.2em;
  }
  .cartItemDetTopSub h1 {
    font-size: 1.5em;
  }

  .cartItemDetBottom {
    font-size: 1.1em;
  }
  .removeButtonCart {
    font-size: 1em;
    width: 5vw;
    height: 5vh;
    font-weight: normal;
    padding: 0;
    top: 38%;
  }
}

@media only screen and (max-width: 414px) {
  .cartItem {
    height: 58vh;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    border-bottom: 1px solid #646464;
  }
  .cartItemImgCont {
    width: 85vw;
  }
  .cartItemImg {
    width: 100%;
    height: 38.7vh;
  }
  .cartItemDetCont {
    width: 111vw;
  }
  .cartItemDetTopSub h4 {
    width: 81vw;
    font-size: 1.7em;
  }
  .cartItemDetTopSub h1 {
    width: 80vw;
    font-size: 1.8em;
  }
  .removeButtonCart {
    font-size: 2em;
    width: 33vw;
    height: 8vh;
  }
  .cartItemDetBottom {
    font-size: 1.8em;
  }
  .spanBox {
    width: 27vw;
    height: 4vh;
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 375px) {
  .cartItem {
    height: 62vh;
  }
  .cartItem {
    width: 100%;
    height: 67vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0.5em;
    border-bottom: 1px solid #bbbbc2;
  }
  .cartItemImgCont {
    width: 94vw;
    height: 100%;
  }
  .cartItemImg {
    width: 100%;
    height: 100%;
  }
  .cartItemDetCont {
    width: 111vw;
    height: 50vh;
  }
  .cartItemDetTopSub h4 {
    width: 71vw;
    font-size: 1.7em;
  }
  .cartItemDetTopSub h1 {
    width: 71vw;
    font-size: 1.8em;
  }
  .spanBox {
    width: 31vw;
    height: 5vh;
  }
  .removeButtonCart {
    font-size: 1.5em;
    width: 28vw;
    height: 9vh;
    padding: 0;
  }
}

@media only screen and (max-width: 360px) {
  .cartItemImgCont {
    width: 85vw;
  }
  .cartItemImg {
    width: 81.5vw;
    height: 48.7vh;
  }
  .cartItemDetCont {
    width: 103vw;
  }
  .cartItemDetTopSub h4 {
    width: 94vw;
    font-size: 1.6em;
  }
  .cartItemDetTopSub h1 {
    width: 83vw;
  }
  .spanBox {
    width: 28vw;
    height: 5vh;
  }
}
